@font-face {
  font-family: CaviarDreams;
  src: url(../fonts/CaviarDreams.ttf);
}
@font-face {
  font-family: Coda-Heavy;
  src: url(../fonts/Coda-Heavy.ttf);
}
.simon-game-switcher-wrapper {
  position: absolute;
  left: 50%;
  margin-left: -2rem;
  top: 5%;
  width: 4rem;
  height: 4rem;
  background: #3f3f3f;
  background: radial-gradient(#3f3f3f 50%, #212121);
  border-radius: 50%;
}
.simon-game-switcher-button {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -0.375rem;
  margin-top: -0.375rem;
  width: 0.75rem;
  height: 0.75rem;
  background: #fff;
  box-shadow: 0px 3px 1px 2px #1d1d1d;
  border: none;
  border-radius: 50%;
}
.simon-game-count {
  position: absolute;
  left: 50%;
  margin-left: -2.8125rem;
  top: 14%;
  width: 5.625rem;
  height: 5.625rem;
  background: #fff;
  background: radial-gradient(#fff 45%, #fafafa);
  border-radius: 50%;
  line-height: 5.625rem;
  color: #3f3f3f;
  text-align: center;
  font-size: 2.8rem;
  z-index: 10;
  font-family: CaviarDreams, sans-serif;
}
.simon-game-butterfly {
  position: absolute;
  left: 50%;
  margin-left: -18.75rem;
  top: 45%;
  margin-top: -18.75rem;
  width: 37.5rem;
  height: 37.5rem;
  background: radial-gradient(#3f3f3f 50%, #212121);
  border-radius: 50%;
  z-index: 5;
}
svg {
  position: absolute;
  top: 5.75rem;
  height: 30rem;
  left: 50%;
  margin-left: -18.75rem;
  width: 37.5rem;
}
path {
  fill-rule: evenodd;
}
path#red-wing {
  fill: #ff2a2a;
  fill-rule: evenodd;
}
path#blue-wing {
  fill: #00aad4;
}
path#green-wing {
  fill: #88aa00;
}
path#yellow-wing {
  fill: #ffd42a;
}
path.mustaches {
  fill: #fff;
}
.simon-game-logo {
  position: absolute;
  width: 11.5rem;
  bottom: 5%;
  left: 50%;
  margin-left: -94px;
  font-family: Coda-Heavy;
  text-transform: uppercase;
  color: #3f3f3f;
  font-size: 2.5em;
  border: 2px solid #3f3f3f;
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
}
span.small {
  font-size: 0.4em;
  vertical-align: text-top;
}
#green-wing,
#red-wing {
  -webkit-animation: fly_top 12.5s infinite;
  animation: fly_top 12.5s infinite;
}
#yellow-wing,
#blue-wing {
  -webkit-animation: fly 12.5s infinite;
  animation: fly 12.5s infinite;
}
@keyframes fly {
  10% {
    transform: rotateX(16deg);
  }
  80% {
    transform: rotateX(-16deg);
  }
}
@keyframes fly_top {
  10% {
    transform: rotateX(14deg);
  }
  80% {
    transform: rotateX(-14deg);
  }
}
