<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simon's Game</title>
    <link rel="stylesheet" href="../public/css/style.css"/>
</head>
<body>
<div class="simon-game-wrapper">
    <div class="simon-game">
        <div class="simon-game-button" id="green"></div>
        <div class="simon-game-button" id="red"></div>
        <br class="clearfix"/>
        <div class="simon-game-button" id="yellow"></div>
        <div class="simon-game-button" id="blue"></div>
        <br class="clearfix"/>
        <div class="simon-game-control-panel-wrapper">
            <div class="simon-game-control-panel"></div>
        </div>
    </div>
</div>
</body>
</html>